<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Create wishlist</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Create wishlist</h1>

<form th:action="@{/wishlist/savewishlist}" th:object="${wishlist}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{wishlistName}" required>

    <label>Description</label>
    <input type="text" th:field="*{wishlistDescription}">

    <button type="submit">Save</button>
</form>

<a th:href="@{/wishlist}">Return</a>
</body>
</html>
