<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret ønskeliste</title>
    <link th:href="@{/createwishlist.css}" rel="stylesheet">
</head>
<body>
<h1>Opret ønskeliste</h1>

<form th:action="@{/wishlist/savewishlist}" th:object="${wishlist}" method="post">
    <label>Navn</label>
    <input type="text" th:field="*{wishlistName}" required>

    <label>Beskrivelse</label>
    <input type="text" th:field="*{wishlistDescription}">

    <button type="submit">Gem</button>
</form>

<a th:href="@{/wishlist}">Tilbage</a>
</body>
</html>
