<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link th:href="@{/wishlistitems.css}" rel="stylesheet">
</head>
<body>

<h1>Add wishes</h1>

<table>
    <tr th:if="${items != null and !#lists.isEmpty(items)}">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Link</th>
    </tr>

    <tr th:each="item : ${items}">
        <td th:text="${item.itemTitle}"></td>
        <td th:text="${item.itemDescription}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td><a th:href="${item.itemURL}" target="_blank">Link</a></td>

        <td>
            <form th:action="@{/wishitem/delete}" method="post">
            <input type="hidden" name="itemID" th:value="${item.itemID}">
            <input type="hidden" name="wishlistId" th:value="${wishlistId}">
            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add new wish</h2>
<form th:action="@{/wishitem/createitem}" method="post">
    <input type="hidden" name="wishlistId" th:value="${wishlistId}">

    <label>Title:</label>
    <input type="text" name="itemTitle">
    <br>

    <label>Description:</label>
    <input type="text" name="itemDescription">
    <br>

    <label>Price:</label>
    <input type="number" step="0.01" name="itemPrice">
    <br>

    <label>Link:</label>
    <input type="text" name="itemURL">
    <br>

    <button type="submit">Add wish</button>
</form>
<br>

<a th:href="@{/wishlist}" >← Return to wishlists</a>

</body>
</html>
